<div>
    <section class="vh-100 bg-white" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-3">ADD HARDWARE ITEM</p>

                            <form class="mx-1 mx-md-2">

                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-box fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="text" id="form3Example1c" class="form-control" required
                                            [(ngModel)]="itemObj.description" name="description" />
                                        <label class="form-label" for="form3Example1c">Description</label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-dollar-sign fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="text" id="form3Example1c" class="form-control" required
                                            [(ngModel)]="itemObj.rentalPerDay" name="rentalPerDay" />
                                        <label class="form-label" for="form3Example1c">Rental Per Day</label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-check-circle fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="text" id="form3Example3c" class="form-control" required
                                            [(ngModel)]="itemObj.qty" name="qty" />
                                        <label class="form-label" for="form3Example3c">Quantity</label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-exclamation-circle fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="text" id="form3Example3c" class="form-control" required
                                            [(ngModel)]="itemObj.finePerDay" name="finePerDay" />
                                        <label class="form-label" for="form3Example3c">Fine Per Day</label>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="button" class="btn btn-primary btn-lg"
                                        (click)="addItem()">Add</button>
                                </div>

                            </form>

                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                class="img-fluid" alt="Sample image">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
