<div>
    <section class="vh-100 bg-white" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-3">ADD RENTAL</p>

                            <form class="mx-1 mx-md-2">

                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-id-badge fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="text" id="form3Example1c" class="form-control" required
                                            [(ngModel)]="rentalDetailObj.itemID" name="itemID" />
                                        <label class="form-label" for="form3Example1c">Item ID</label>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-calendar-check fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="text" id="form3Example3c" class="form-control"
                                            [(ngModel)]="rentalDetailObj.qty" name="qty" />
                                        <label class="form-label" for="form3Example3c">Quantity</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="button" class="btn btn-primary btn-lg"
                                        (click)="addItems()">Add</button>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="text" id="form3Example1c" class="form-control" required
                                            [(ngModel)]="rentalObj.customerID" name="customerID" />
                                        <label class="form-label" for="form3Example1c">Customer ID</label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="date" id="form3Example1c" class="form-control" required
                                            [(ngModel)]="rentalObj.rentalDate" name="rentalDate" />
                                        <label class="form-label" for="form3Example1c">Rental Date</label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="date" id="form3Example3c" class="form-control" required
                                            [(ngModel)]="rentalObj.expectedReturnDate" name="expectedReturnDate" />
                                        <label class="form-label" for="form3Example3c">Expected Return Date</label>
                                    </div>
                                </div>


                                <!-- 
                                <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-hourglass-end fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="number" id="form3Example3c" class="form-control"
                                            [(ngModel)]="rentalObj.lateDays" name="lateDays" />
                                        <label class="form-label" for="form3Example3c">Late Days</label>
                                    </div>
                                </div> -->

                                <!-- <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-dollar-sign fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="number" id="form3Example3c" class="form-control" step="0.01"
                                            [(ngModel)]="rentalObj.fine" name="fine" />
                                        <label class="form-label" for="form3Example3c">Fine</label>
                                    </div>
                                </div> -->

                                <!-- <div class="d-flex flex-row align-items-center mb-3">
                                    <i class="fas fa-dollar-sign fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="number" id="form3Example3c" class="form-control" step="0.01"
                                            [(ngModel)]="rentalObj.totalCost" name="totalCost" />
                                        <label class="form-label" for="form3Example3c">Total Cost</label>
                                    </div>
                                </div> -->

                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="button" class="btn btn-primary btn-lg"
                                        (click)="addRental()">Add</button>
                                </div>

                            </form>

                        </div>
                        <div class="col-6  col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                            <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-4">VIEW ALL RENTALS</p>

                            <div class="container">
                                <table class="table border">
                                    <tr class="border text-center bg-black text-white">
                                        <th>Count</th>
                                        <th>Item ID</th>
                                        <th>Quantity</th>

                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr class="border text-center"
                                        *ngFor="let renatalDetail of rentalDetailList; index as i">
                                        <td>{{i+1}}</td>
                                        <td>{{"RENT@000" + renatalDetail.itemID}}</td>
                                        <td>{{renatalDetail.Quantity}}</td>

                                        <td>
                                            <button class="btn btn-danger" (click)="deleteRentalDetail(renatalDetail)">
                                                <i class="bi bi-trash3-fill"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" (click)="edit(renatalDetail)"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Rental</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="mb-3">
                                                    <label for="edit-rentID" class="col-form-label">Rental ID:</label>
                                                    <input type="text" class="form-control" id="edit-rentID"
                                                        [(ngModel)]="selectedRentalDetail.itemID" name="rentID"
                                                        readonly />
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-customerID" class="col-form-label">Customer
                                                        ID:</label>
                                                    <input type="text" class="form-control" id="edit-customerID"
                                                        [(ngModel)]="selectedRentalDetail.qty" name="customerID" />
                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary"
                                                (click)="updateRentalDetails()">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>